#main03{
	position: absolute;
	top:calc(7% + 340px);
	width: calc(1120px + 1%);
	height: 260px;
	left: 10%;
}
#main03 #pic{
	position: absolute;
	background-image: url(../img/bg.png);
	width: 190px;
	height: 260px;
	background-color: #FFFFFF;
	display: inline-block;
}
#main03 #goods{
	position: absolute;
	width: calc(930px);
	height: 260px;
	left: calc(193px + 1%);
	background-color: #FFFFFF;
	text-align: center;
}
#main03 #pic>div{
	background-image: url(../img/发现好货.png);
	position: absolute;
	left: 10px;
	top: 15px;;
	height: 89px;
	width: 160px;
}
#main03 #pic>div>span{
	position: absolute;
	bottom: 12px;
	color: #f0f0f0;
	left: 24px;
}
#main03 #goods div{
	position: relative;
	top: 20px;
	width: 160px;
	height: 160px;
	display: inline-block;
}
#main03 #goods img{
	z-index: 3;
}
#main03 #goods span{
	z-index: 4;
}