#main01{
	position: absolute;
	left: 10%;
	top:5%;
	width:560px;
	height:340px;
	background-color: #FFFFFF;
	display: inline-block;
}
#title{
	position: absolute;
	width: 100%;
	height: 60px;
	line-height: 60px;
}
#bigtitle{
	position: absolute;
	left: 20px;
}
#bigtitle>span{
	font-size: 24px;
	font-weight: 700;
	color: #3b3b3b;
}
#bigtitle>img{
	
}
#title #lable{
	position: absolute;
	right: 20px;
	color: #888888;
}
#main01 #left{
	position: absolute;
	left:15px;
	bottom:15px;
	height:250px;
	width:170px;
	background-color: #f8f8f8;
}
#main01 #right{
	position: absolute;
	left:210px;
	bottom:15px;
	height:250px;
	width:320px;

}
#main01 #right>div{
	position: relative;
	height: 110px;
	width: 100%;
	text-align: center;
}
